@model HealthCatalystPeopleSearch.Models.Person

<div id="personResults">
    <table class="table">
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstName)</td>
            <td>@Html.DisplayFor(modelItem => @Model.FirstName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.LastName)</td>
            <td>@Html.DisplayFor(modelItem => @Model.LastName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Address)</td>
            <td>@Html.DisplayFor(modelItem => @Model.Address)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.City)</td>
            <td>@Html.DisplayFor(modelItem => Model.City)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.State)</td>
            <td>@Html.DisplayFor(modelItem => Model.State)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Zip)</td>
            <td>@Html.DisplayFor(modelItem => Model.Zip)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Age)</td>
            <td>@Html.DisplayFor(modelItem => Model.Age)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PicName)</td>
            <td>@Html.DisplayFor(modelItem => Model.PicName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PicLocation)</td>
            <td>@Html.DisplayFor(modelItem => Model.PicLocation)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PicLocation)</td>
            <td>@Html.DisplayFor(modelItem => Model.PicLocation)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Interests)</td>
            <td>@Html.DisplayFor(modelItem => Model.Interests)</td>
        </tr>
    </table>
</div>
