@model HealthCatalystPeopleSearch.Models.Person

<div id="personResults">
    <h2 class="text-center">Person</h2>
    <table class="table">
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstName)</td>
            <td>@Html.DisplayFor(modelItem => @Model.FirstName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.LastName)</td>
            <td>@Html.DisplayFor(modelItem => @Model.LastName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Address)</td>
            <td>@Html.DisplayFor(modelItem => @Model.Address)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.City)</td>
            <td>@Html.DisplayFor(modelItem => Model.City)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.State)</td>
            <td>@Html.DisplayFor(modelItem => Model.State)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Zip)</td>
            <td>@Html.DisplayFor(modelItem => Model.Zip)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Age)</td>
            <td>@Html.DisplayFor(modelItem => Model.Age)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Interests)</td>
            <td>@Html.DisplayFor(modelItem => Model.Interests)</td>
        </tr>
        <tr>
            <td colspan="2"><img class="person-image" src="@Url.Action("GetPhoto", "Home", new { id = @Model.PersonId })" alt="@Model.FirstName + ' ' + @Model.LastName" title="@Model.FirstName + ' ' + @Model.LastName" /></td>
        </tr>
    </table>
    <br />
    <button id="submitLoadPerson" class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK <i class="ion-checkmark"></i></button>
</div>
